@model IEnumerable<Tracker.Data.tbl_eventlineup>

<h2><b>Upcoming Events</b></h2>
<div class="card" id="profile-table">
    <table class="table">
        <tr>
            <th>
                Event Name
            </th>
            <th>
                Date
            </th>
        </tr>
        @foreach (var item in Model.Where(x => x.tbl_events.Event_Date >= System.DateTime.Now).OrderByDescending(x => x.tbl_events.Event_Date))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tbl_events.Event_Name)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.tbl_events.Event_Date))
                </td>
            </tr>
        }
    </table>
</div>
<br />
<div class="card" id="profile-table">
    <h2><b>Past Events</b></h2>

    <table class="table">
        <tr>
            <th>
                Event Name
            </th>
            <th>
                Date
            </th>
        </tr>
        @foreach (var item in Model.Where(x => x.tbl_events.Event_Date < System.DateTime.Now).OrderByDescending(x => x.tbl_events.Event_Date))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tbl_events.Event_Name)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.tbl_events.Event_Date))
                </td>
            </tr>
        }
    </table>
</div>



<style>
    #profile-table {
        max-height: 42%;
        min-height: 40%;
        overflow-y: auto;
    }

    footer {
        display: none !important;
    }
</style>
