@model Tracker.Data.tbl_artists

@{
    ViewBag.Title = "GetArtistDetials";
}

<h2>GetArtistDetials</h2>

<div>
    <h4>tbl_artists</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artist_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist_Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Artist_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
