
.vs/EventTracker/v16/Server/sqlite3/db.lock
EventTracker/App_Data/aspnet-EventTracker-20200130120606_log.ldf
.vs/EventTracker/v16/Server/sqlite3/storage.ide
EventTracker/App_Data/aspnet-EventTracker-20200130120606.mdf
*.mdf
*.ldf
*.mdf
*.ldf
EventTracker/App_Data/aspnet-EventTracker-20200130120606_log.ldf
*.ldf
*.mdf
