<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/EventTracker</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/EventTracker</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TrackerEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=DESKTOP-DI24F6A\SQLDEVELOPER;Initial Catalog=EventTracker;Persist Security Info=True;User ID=SQL99;Password=Leeds4eva4" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Tracker.Data.TrackerEntities, Tracker.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=DESKTOP-DI24F6A\SQLDEVELOPER;Initial Catalog=aspnet-EventTracker-20200130120606;Persist Security Info=True;User ID=SQL99;Password=Leeds4eva4" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EventTracker.Models.ApplicationDbContext, EventTracker" MigrationConfiguration="EventTracker.Migrations.Configuration, EventTracker" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-DI24F6A\SQLDEVELOPER;Initial Catalog=aspnet-EventTracker-20200130120606;Persist Security Info=True;User ID=SQL99;Password=Leeds4eva4</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TrackerEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/TrackerModel.csdl|res://*/TrackerModel.ssdl|res://*/TrackerModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=DESKTOP-DI24F6A\SQLDEVELOPER;Initial Catalog=EventTracker;Persist Security Info=True;User ID=SQL99;Password=Leeds4eva4"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>