@{
    ViewBag.Title = "Home";
}
<div class="body-content" position="fixed" height="100%" width="100%">
    </BR>
    <h1 align="center">Home Page</h1></BR>
    <div class="jumbotron" align="center" style="height:20%">
        <div class="card">UPCOMING EVENTS (3)</div>
    </div>

    <div class="jumbotron" align="center" style="height:20%">
        <div class="card">MOST FREQUENTLY SEEN ARTISTS (5)</div>
    </div>

    <div style=" width:100%; display:inline; flex-direction:row; margin:0 auto; padding:0.5%" align="center">
        <div class="jumbotron" style=" height:25%;width:31%; display:inline-block">
            SUGGESTED EVENTS LINK
        </div>
        <div class="jumbotron" style=" height:25%;width: 31%; display: inline-block; margin: 0% 1% 0% 1%">
            FOLLOWED VENUES LINK
        </div>
        <div class="jumbotron" style=" height: 25%; max-height:25%;width:31%; display:inline-block; word-break:break-word">
            EVENT ORGANISERS LINK
        </div>
    </div>
</div>