@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home";
    ViewData["ResourcePath"] = "IndexParentView";
}
<body id="index-body">
    <div class="body-content" id="home-content">
        @if ((System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
            {
            <h1 align="center">Your Upcoming Events</h1>

            <div class="jumbotron" id="index-jumbo" align="center" style="height:20%; width: 100%;display:inline-grid">
                @{Html.RenderAction("GetUserEvents", "Event", new { User_ID = User.Identity.GetUserId().ToString() }); }
            </div>
            <h1 align="center">Most Seen Artists</h1>

            <div class="jumbotron" id="index-jumbo" align="center" style="height:20%; width: 100%;display:inline-grid">
                @{Html.RenderAction("GetUsersArtistCount", "Artist"); }
            </div>
            <h1 align="center">Other Links</h1>

            <div style=" width:100%; display:inline; flex-direction:row; margin:0 auto; padding:0.5%" align="center">
                <div class="jumbotron" style=" height:25%;width:31%; display:inline-block">
                    SUGGESTED EVENTS LINK
                </div>
                <div class="jumbotron" style=" height:25%;width: 31%; display: inline-block; margin: 0% 1% 0% 1%">
                    FOLLOWED VENUES LINK
                </div>
                <div class="jumbotron" style=" height: 25%; max-height:25%;width:31%; display:inline-block; word-break:break-word">
                    EVENT ORGANISERS LINK
                </div>
            </div>
            }
        else
            {
            <div style="height:90%">@Html.Partial("../Account/Login")</div>
            }
    </div>
</body>