body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #171616;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    width: 100%;
    padding: 2% 5% 2% 5%;
    background-color: #0e0e0e !important;
    height: 100%;
}

.container body-content {
    padding: 0 0 0 0;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

input {
    max-width: 100% !important;
    color: #898989 !important;
    background-color: inherit !important;
    border-color: #6d6d6d !important;
}

select,
textarea {
    max-width: 280px;
    background-color: inherit !important;
    color: #898989 !important;
}
button {
    background-color: inherit !important;
    border-color: #6d6d6d !important;
    color: #898989 !important;
}