body {
    padding-top: 2%;
    padding-bottom: 1%;
    background-color: #171616;
    color: #b5b5b5;
    position: sticky;
    height: fit-content;
    overflow: auto;
}




/* Set padding to keep content from hitting the edges */
.body-content {
    width: 100%;
    padding: 1% 0% 1% 5%;
    min-height: fit-content;
}

.container body-content {
    padding: 0 0 0 0;
    background-color: #171616;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

input {
    max-width: 100% !important;
    color: #898989 !important;
    background-color: #222222 !important;
    border-color: #6d6d6d !important;
}
#index-body {
    overflow: hidden;
}
select,
textarea {
    max-width: 280px;
    background-color: inherit !important;
    color: #898989 !important;
}
button {
    background-color: #222222 !important;
    border-color: #6d6d6d !important;
    color: #898989 !important;
}

.center-h1 {
    color: #68bc51;
    text-transform: uppercase;
    font-size: 4em;
    text-align: center;
}

h1 {
    color: #68bc51 !important;
    margin-top: 0;
}
.navbar-header {
    width: 20%;
}

.nav-container a, .navbar-inverse .navbar-nav > li > a {
    text-decoration: none !important;
    font-weight: bold;
    color: #ffffff !important;
}



.body-content a {
    color: #abff94 !important;
    text-decoration: underline;
}

a:hover {
    color: #ffffff !important;
}

a:visited, a:focus {
    color: #abff94;
}