.artist-count-sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    font-size: small;
    background-color: #222222;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 2%;
}

.artist-count-table {
    width: 20%;
    
    color: white;
    background-color: #222222;
}

.count-table-head {
    text-align: center;
}

.count-table-row {
    border-bottom: 1px solid #424242;
    text-align: left;
}

.count-table-artist-col {
    font-size: 70%;
    border-left: 1px solid white;
    padding-left: 10px;
}

.count-table-count-col {
    width: 1%;
    text-align: center;
}

.seen-artists-body {
    width: 85%;
    padding-left: 15%;
}

.navbar, .navbar-inverse, .navbar-fixed-top {
    width: 100%;
}

.nav-container {
    float: left;
    padding-left: 5%;
    width: 100%;
}

.navbar navbar-inverse navbar-fixed-top {
    width: 100%;
}

* {
    box-sizing: border-box;
}

#myTable {
    max-height: 300px;
    overflow: scroll;
    table-layout: fixed;
}

#myInput {
    background-image: url('../../Content/images/search.jpg');
    background-size: 15px 15px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    align-self: center;
    font-size: 12px;
    border: 3px solid #424242;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    color: #424242;
}

#new-artist-btn {
    font-size: 20px;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 3px 2px;
}

#event-card-body {
    max-height: 55%;
    overflow-y: scroll
}

#event-table {
    max-height: 55%;
    overflow-y: scroll
}

#search-card-body {
    max-height: 50%;
    overflow-y: scroll
}

#myInput:focus {
    color: #424242;
}

#myTable, #LineupTable {
    border-collapse: collapse;
    width: 100%;
}

    #myTable th, #LineupTable, #myTable td {
        text-align: left;
        padding: 12px 20px 12px 20px;
    }

        #myTable, #LineupTable tr {
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                background-color: #f1f1f1;
            }

.card {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    border: 2px solid #ddd;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

#event-table-col-1 {
    width: 40%;
}

#event-table-col-2 {
    width: 7%;
}

#event-table-col-3 {
    width: 35%;
}

#event-table-col-4 {
    width: 18%;
}

.profile-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 3px solid #1f1f1f;
    border-radius: 20px;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
}

#profile-jumbotron {
    max-height: 90%;
    min-height: 80%;
}

#profile-history-card {
    width: 48%;
    display: inline-block;
    overflow-y: auto;
    height:inherit;
}

#profile-card {
    width: 48%;
}

#home-top-seen-card {
    width: 100%;
}


#profile-table {
    max-height: 35%;
    min-height: 35%;
    overflow-y: auto;
}

footer {
    display: none !important;
}

#index-jumbo.jumbotron {
    padding: 0% 0% 0% 0% !important;
    width: 100%;
    background-position: center center;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
    position: center;
}