.artist-count-sidebar {
    height: 100vh; /* Full-height: remove this if you want "auto" height */
    width: 15%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    font-size: small;
    background-color: #222222;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 7vh;
}

.artist-count-table {
    color: white;
    background-color: #222222;
}

.count-table-head {
    text-align: center;
    position:  sticky;
}

.count-table-row {
    border-bottom: 1px solid #424242;
    text-align: left;
}

.count-table-artist-col {
    font-size: 70%;
    border-left: 1px solid white;
    padding-left: 10px;
}

.count-table-count-col {
    width: 1%;
    text-align: center;
}

.jumbotron {
    background-color: #222222 !important;
}

.seen-artists-body {
    width: 85%;
    padding-left: 15%;
}

.navbar, .navbar-inverse, .navbar-fixed-top {
    width: 100%;
}

.nav-container {
    float: left;
    padding-left: 5%;
    width: 100%;
}

.navbar navbar-inverse navbar-fixed-top {
    width: 100%;
}

* {
    box-sizing: border-box;
}

#myTable {
    max-height: 300px;
    overflow: scroll;
    table-layout: fixed;
}

#myInput {
    background-image: url('../../Content/images/search.jpg');
    background-size: 15px 15px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    align-self: center;
    font-size: 12px;
    border: 3px solid #424242;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    color: #424242;
}

#new-artist-btn {
    font-size: 20px;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 3px 2px;
}

#event-card {
    border: none !important;
    width: 100%;
    background-color: inherit;
}

#event-card-body {
    max-height: 55%;
    overflow-y: scroll; 
}

.event-jumbotron {
    background-color: inherit;
    outline-color: inherit;
    border-collapse: inherit;
    height: 70vh;
}




#event-table-body {
    max-height: 40%;
    min-height: 40%;
    overflow-y: auto;
}

#table-card-body {
    height: 80%;
    overflow-y: scroll
}

#myInput:focus {
    color: #424242;
}

#myTable, #LineupTable {
    border-collapse: collapse;
    width: 100%;
}

    #myTable th, #LineupTable, #myTable td {
        text-align: left;
        padding: 12px 20px 12px 20px;
    }

        #myTable, #LineupTable tr {
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                background-color: #b08c00;
            }

.card {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    border: 2px solid #222222;
    background-color: transparent;
}
.table{
    background-color: #1f1f1f;
    
}
/* Add some padding inside the card container */
.container {
    padding: 2% 5% 2% 5%;
    max-width: auto;
    min-width: fit-content;
}
html{
    max-height: 99vh;
    max-width: 99vw;
}
#home-content{
    max-height: 100vw;

}
#event-table-col-1 {
    width: 40%;
}

#event-table-col-2 {
    width: 7%;
}

#event-table-col-3 {
    width: 35%;
}

#event-table-col-4 {
    width: 18%;
}

.profile-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 3px solid #1f1f1f;
    border-radius: 20px;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
}


.jumbotron .container {
    max-width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    background-color: transparent;
    overflow: hidden;
}

#profile-jumbotron {
    max-height: 90%;
    min-height: 80%;
    width: 100% !important;
    padding: 0 0 0 0;
    background-color: #0e0e0e;
    border-radius: 30px;
    overflow:  hidden;
}

#profile-history-card {
    width: 50%;
    display: inline-block;
    height: inherit;
}
.scrollable-element{

}
#profile-card {
    width: 50%;
}

#home-top-seen-card {
    width: 100%;
}

#profile-table {
    max-height: 35%;
    min-height: 35%;
    overflow-y: auto;
}

footer {
    display: none !important;
}

#index-jumbo.jumbotron {
    padding: 0% 0% 0% 0% !important;
    width: 100%;
    background-position: center center;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
    position: center;
    background-color: transparent;
}

td {
    border-top: none !important;
}

.table-row {
    border-top: 1px solid #424242 !important;
}

#upcoming-event-image-tile {
    height: inherit;
    display: inline-block;
    min-width: 25%;
    max-width: 25%;
    padding: 0% 0% 0% 0%;
}

.count-artist-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 3px solid #1f1f1f;
    border-radius: 20px;
    background-position: center center;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
}

.list-group-item {
    padding: 0%;
    height: 100%;
    width: inherit;
}

.index-image {
    height: 100%;
    position: relative;
    width: 100%;

}

#index-artist-count-body {
    height: 100%;
    width: 100%;
    padding: 0% 0% 0% 0%;
}
#artist-count-image-tile {
    height: inherit;
    display: inline-block;
    max-width: 20%;
    min-width: 20%;
    padding: 0% 0% 0% 0%;
}
.artist-count-text {
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: left;
    font-size: 1.4em;
    font-size-adjust: inherit;
    padding-left: 0;
    align-content: center;
}

.index-image, h3 {
    padding: 0% 6% 0% 2%;
}

.list-group-item, overlay-span {
    letter-spacing: -1px;
    background: #000000; /* fallback color */
    opacity: 0.8;
    color: white;
    height: 100%;
    width: 100%;
    position: inherit;
    display: inline-block;
    margin: 0px;
    background-position: center center;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
}

#top-line-span {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex; /*added*/
    flex-direction: inherit; /*added*/
    display: inline-block;
    margin: 0px;
    background-position: center center;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#second-line-span {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    display: flex; /*added*/
    flex-direction: inherit; /*added*/
}


.list-group-item {
    padding: 0%;
    height: 100%;
    width: inherit;
}

.event-details-image {
    height: 100%;
    position: relative;
    width: inherit;
    padding: 0% 0% 0% 0%;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    display: inline-block;
}

#artist-count-image-tile {
    height: inherit;
    max-width: 100%;
    min-width: 100%;
    padding: 0% 0% 0% 0%;
}

.event-details-text {
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: left;
    font-size: 2.4em;
    font-size-adjust: inherit;
    padding: 0 0 0 0;
}

.overlay-span {
    padding: 0% 6% 0% 2%;
    letter-spacing: -1px;
    background: #000000; /* fallback color */
    opacity: 0.85;
    width: inherit;
}

.list-group-item, overlay-span {
    color: white;
    height: 100%;
    width: 100%;
    position: inherit;
    display: inline-block;
    margin: 0px;
    background-position: center center;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
    top: 46%;
}

#top-line-span {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex; /*added*/
    flex-direction: inherit; /*added*/
    overflow: hidden;
    display: inline-block;
    margin: 0px;
    background-position: center center;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
    width: inherit;
}

#second-line-span {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    display: flex; /*added*/
    flex-direction: inherit; /*added*/
}

 div a {
    color: #b08c00;
}
 a:hover, a:focus{
     color: #ffdc56 !important;
 }

#user-event-card {
    width: 75%;
    height: 100vh;
    padding: 2% 2% 2% 4%;
    border: none;
    display: -webkit-inline-box;
}

#event-index-details {
    padding: 2% 5% 5% 0%;
}
#event-index-location-pin {
    height: auto;
    width: 8%;
    margin-right: 2%;
}

#event-index-location #second-line-span {
    padding-left: 10%;
}
#event-index-filter-card {
    height: 100vh;
    margin: 0 0 0 0 !important;
    width: 25%;
}

.event-index-body {
    display: -webkit-inline-box;
}

#event-tile-card {
    width: 29%;
    height: 50% !important;
    box-shadow: 0px 0px 10px #808080;
    background-color: #222222;
    display: inline-block;
    margin: 2% 2% 2% 2%;
    border-radius: 20px;
}


#event-index-image {
    width: 100%;
    object-fit: fill;
    overflow: hidden;
}

#event-index-name {
    color: #b08c00 !important;
}

#event-index-name, #event-index-location {
    height: 15% !important;
}



#event-index-date, #event-index-location, #event-index-name {
    height: 10%;
    width: 95%;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #171616;
    font-size: large;
    color: #bfa747;
    margin: 3% 0 1% 5%;
    padding: 0%;
}

.event-index-image {
    border-radius: 20px;
    overflow: hidden;
    height: 50% !important;
}

#artist-index-filter-card h3 {
    padding: 1px;
    text-align: center;
}

#artist-body {
    text-align: center;
    width: 100%;
}

.artist-index-body {
    border: 2px solid inherit;
    text-align: center;
    height: 70vh;
    overflow-y: scroll;
}

#artist-index-filter-card {
    width: auto;
    border: none;
    display: inline-flex;
    height: 4vh;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: inherit;
    padding: 2px;
}

.grid-item {
    background-color: #222222;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: large;
    text-align: center;
}