.artist-count-sidebar {
    height: 100vh;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    font-size: small;
    background-color: #222;
    overflow-x: hidden;
    padding-top: 7vh
}

.artist-count-table {
    color: #fff;
    background-color: #222
}

.count-table-head {
    text-align: center;
    position: sticky
}

.count-table-row {
    border-bottom: 1px solid #424242;
    text-align: left
}

.count-table-artist-col {
    font-size: 70%;
    border-left: 1px solid #fff;
    padding-left: 10px
}

.count-table-count-col {
    width: 1%;
    text-align: center
}

.jumbotron {
    background-color: #222 !important
}

.seen-artists-body {
    width: 85%;
    padding-left: 15%
}

.navbar, .navbar-inverse, .navbar-fixed-top {
    width: 100%
}

.nav-container {
    float: left;
    padding-left: 5%;
    width: 100%
}

.navbar navbar-inverse navbar-fixed-top {
    width: 100%
}

* {
    box-sizing: border-box
}

#myTable {
    max-height: 300px;
    overflow: scroll;
    table-layout: fixed
}

#myInput {
    background: url(../../Content/images/search.jpg) no-repeat 10px 10px;
    background-size: 15px 15px;
    width: 100%;
    padding: 12px 20px 12px 40px;
    margin-bottom: 12px;
    align-self: center;
    font-size: 12px;
    border: 3px solid #424242;
    border-radius: 5px;
    outline: 0;
    color: #424242
}

#new-artist-btn {
    font-size: 20px;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 3px 2px
}

#event-card {
    border: none !important;
    width: 100%;
    background-color: inherit
}

#event-card-body {
    max-height: 55%;
    overflow-y: scroll
}

.event-jumbotron {
    background-color: inherit;
    outline-color: inherit;
    border-collapse: inherit;
    height: 70vh
}

#event-table-body {
    max-height: 40%;
    min-height: 40%;
    overflow-y: auto
}

#table-card-body {
    height: 80%;
    overflow-y: scroll
}

#myInput:focus {
    color: #424242
}

#myTable, #LineupTable {
    border-collapse: collapse;
    width: 100%
}

    #myTable th, #LineupTable, #myTable td {
        text-align: left;
        padding: 12px 20px
    }

        #myTable, #LineupTable tr {
            border-bottom: 1px solid #ddd
        }

            #myTable tr.header, #myTable tr:hover {
                background-color: #68bc51
            }

.card {
    transition: .3s;
    border: 2px solid #222;
    background-color: transparent
}

.table {
    background-color: #1f1f1f
}

.container {
    padding: 2% 5%;
    max-width: auto;
    min-width: fit-content
}

html {
    max-height: 99vh;
    max-width: 99vw
}

#home-content {
    max-height: 100vw
}

#event-table-col-1 {
    width: 40%
}

#event-table-col-2 {
    width: 7%
}

#event-table-col-3 {
    width: 35%
}

#event-table-col-4 {
    width: 18%
}

.profile-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 3px solid #1f1f1f;
    border-radius: 20px;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    overflow: hidden
}

.jumbotron .container {
    max-width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent;
    overflow: hidden
}

#profile-jumbotron {
    max-height: 90%;
    min-height: 80%;
    width: 100% !important;
    padding: 0;
    background-color: #0e0e0e;
    border-radius: 30px;
    overflow: hidden
}

#profile-history-card {
    width: 50%;
    display: inline-block;
    height: inherit
}

#profile-card {
    width: 50%
}

#home-top-seen-card {
    width: 100%
}

#profile-table {
    max-height: 35%;
    min-height: 35%;
    overflow-y: auto
}

footer {
    display: none !important
}

#index-jumbo.jumbotron {
    padding: 0 !important;
    width: 100%;
    background: transparent center center;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
    position: center
}

td {
    border-top: none
}

.table-row {
    border-top: 1px solid #424242
}

#upcoming-event-image-tile {
    height: inherit;
    display: inline-block;
    min-width: 25%;
    max-width: 25%;
    padding: 0
}

.count-artist-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 3px solid #1f1f1f;
    border-radius: 20px;
    background-position: center center;
    overflow: hidden;
    object-fit: cover;
    background-size: cover
}

.index-image {
    height: 100%;
    position: relative;
    width: 100%
}

#index-artist-count-body {
    height: 100%;
    width: 100%;
    padding: 0
}

#artist-count-image-tile {
    display: inline-block;
    max-width: 20%;
    min-width: 20%;
    height: inherit;
    max-width: 100%;
    min-width: 100%;
    padding: 0
}

.artist-count-text {
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: left;
    font-size: 1.4em;
    font-size-adjust: inherit;
    padding-left: 0;
    align-content: center
}

.index-image, h3 {
    padding: 0 6% 0 2%
}

#top-line-span {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: inherit;
    display: inline-block;
    margin: 0;
    background-position: center center;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
    text-overflow: ellipsis;
    white-space: nowrap
}

#second-line-span {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: inherit
}

.list-group-item {
    padding: 0;
    height: 100%;
    width: inherit
}

.event-details-image {
    height: 100%;
    position: relative;
    width: inherit;
    padding: 0;
    background-position: center center;
    background-size: cover;
    object-fit: contain;
    overflow: hidden;
    display: inline-block
}

.event-details-text {
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: left;
    font-size: 2.4em;
    font-size-adjust: inherit;
    padding: 0
}

.overlay-span {
    padding: 0 6% 0 2%;
    letter-spacing: -1px;
    background: #000;
    opacity: .85;
    width: inherit
}

.list-group-item, overlay-span {
    height: 100%;
    width: 100%;
    position: inherit;
    display: inline-block;
    margin: 0;
    background-position: center center;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
    top: 46%
}

#user-event-card {
    width: 75%;
    height: -webkit-fill-available;
    padding: 0 2% 0 4%;
    border: none;
    display: inline-grid;
    overflow-y: auto;
    margin-bottom: 0 !important
}

#event-index-details {
    padding: 2% 5% 2% 0;
    margin-bottom: 2% !important
}

#event-index-location-pin {
    height: auto;
    width: 8%;
    margin-right: 2%
}

#event-index-location #second-line-span {
    padding-left: 10%
}

.event-index-body {
    display: flex;
    padding-bottom: 2%
}

#event-tile-card {
    box-shadow: 0 0 10px grey;
    background-color: #222;
    display: inline-block;
    margin: 2%;
    border-radius: 20px
}

#event-index-image {
    width: 100%;
    object-fit: cover;
    overflow: hidden
}

#event-index-name, #event-index-location {
    height: 15% !important
}

#event-index-date, #event-index-location, #event-index-name {
    height: 10%;
    width: 95%;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #171616;
    font-size: medium;
    color: #b5b5b5 !important;
    margin: 3% 0 1% 5%;
    padding: 0;
    text-align: left;
    float: left
}

#event-index-addToUser {
    height: 5%;
    width: 95%;
    background-color: inherit;
    border: none;
    margin: 3% 0 1% 5%
}

.event-index-image {
    border-radius: 20px;
    overflow: hidden;
    height: 40% !important
}

#artist-index-filter-card h3 {
    padding: 1px;
    text-align: center
}

#artist-index-filter-card #letter-h3 {
    color: #fff !important
}

#artist-body {
    text-align: center;
    width: 100%
}

.artist-index-body {
    border: 2px solid inherit;
    text-align: center;
    height: 70vh;
    overflow-y: scroll;
    margin: 1% 0 0
}

#artist-index-filter-card {
    width: auto;
    border: none;
    display: inline-flex;
    height: 4vh;
    text-align: center
}

.grid-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: inherit;
    padding: 2px;
    width: 100%
}

.grid-item {
    padding: 2px;
    font-size: large;
    text-align: center;
    width: 100%
}

#artist-index-filter-card > a {
    color: #fff !important
}

#artist-index-letter-wrap {
    height: inherit;
    font-size: 800%
}

    #artist-index-letter-wrap a {
        color: #fff !important
    }

.col-1 {
    width: 15%;
    float: left;
    border-bottom: 2px solid #222;
    padding: 3% 0 2%
}

.col-2 {
    float: left;
    border-bottom: 2px solid #222;
    width: 84%;
    padding: 3% 0 2%
}

.test-row {
    clear: both;
    display: inline-flex;
    width: -webkit-fill-available
}

#ui-datepicker-div {
    background-color: inherit
}

.ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all {
    background-color: #222
}

.ui-datepicker .ui-datepicker-header {
    background-color: #222
}

.ui-datepicker-month, .ui-datepicker-year {
    background-color: #898989 !important;
    color: #222 !important
}

.ui-datepicker td {
    background-color: inherit !important
}

.ui-state-default {
    background-color: #898989 !important;
    color: #222 !important
}

.ui-state-active {
    background: #abff94 !important;
    color: #222 !important;
    border: 1px solid #68bc51 !important
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #222 !important;
    color: #898989 !important;
    border: 1px solid #898989 !important
}

#user-event-grid {
    grid-template-columns: 33% 33% 33%;
    display: inline-grid
}

#event-grid-item {
    height: 45vh;
    margin-bottom: 2vh
}

.event-index-body-class {
    height: -webkit-fill-available !important;
    overflow: hidden
}

    .event-index-body-class > .body-content, #user-event-card > .body-content {
        height: -webkit-fill-available !important
    }

.event-index-body > #event-index-filter-card {
    margin: 0 !important;
    width: 25%;
    background-color: #68bc51;
    border: 5px medium grey;
    border-radius: 20px;
    padding: 0 2% 2%;
    box-shadow: 0 0 10px grey;
    color: #222;
    font-weight: 700
}

    .event-index-body > #event-index-filter-card > #event-index-filter-header > h3, .event-index-body #event-index-filter-card h4 {
        font-weight: 700;
        text-align: center
    }

    .event-index-body > #event-index-filter-card > #event-index-filter-body {
        height: 90%;
        width: 100%
    }

        .event-index-body > #event-index-filter-card > #event-index-filter-body > #event-index-filter-label {
            height: 5%;
            grid-template-columns: 100%
        }

        .event-index-body > #event-index-filter-card > #event-index-filter-body > #event-filter-options, #event-filter-city, #event-filter-venue {
            width: 100%
        }

            .event-index-body > #event-index-filter-card > #event-index-filter-body > #event-filter-options > select, .event-index-body >
            #event-index-filter-card > #event-index-filter-body > #event-filter-options > input, .event-index-body >
            #event-index-filter-card > #event-index-filter-body > #event-filter-artists > input, .event-index-body > #event-index-filter-card > #event-index-filter-body > #event-filter-options > select, .event-index-body >
            #event-index-filter-card > #event-index-filter-body > #event-filter-city, .event-index-body > #event-index-filter-card > #event-index-filter-body > #event-filter-options > select, .event-index-body >
            #event-index-filter-card > #event-index-filter-body > #event-filter-country, #event-filter-venue {
                width: 100%;
                background-color: #171616 !important;
                border: inset #424242;
                border-radius: 5px
            }

            .event-index-body > #event-index-filter-card > #event-index-filter-body > #event-filter-options > .datepicker {
                width: 100%;
                margin-left: 10%
            }

            .event-index-body > #event-index-filter-card > #event-index-filter-body > #event-filter-options > .ui-datepicker-trigger {
                display: none !important
            }

        .event-index-body > #event-index-filter-card > #event-index-filter-body > #event-filter-label-grid {
            grid-template-columns: 50% 50% !important
        }

        .event-index-body > #event-index-filter-card > #event-index-filter-body > #event-index-filter-label- {
            border: 2px solid #000;
            height: 5%;
            width: 100%;
            float: left
        }

        .event-index-body > #event-index-filter-card > #event-index-filter-body > #event-filter-options-50 {
            width: 100%;
            height: 80%;
            float: left;
            grid-template-columns: 35% 15% 35% 15%;
            border-radius: 5px;
            height: 10%
        }

            .event-index-body > #event-index-filter-card > #event-index-filter-body > #event-filter-options-50 > .ui-datepicker-trigger {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background-color: #b5b5b5 !important
            }

                .event-index-body > #event-index-filter-card > #event-index-filter-body > #event-filter-options-50 > .ui-datepicker-trigger > #event-filter-date-image {
                    width: 65%
                }

        .event-index-body > #event-index-filter-card > #event-index-filter-body > #event-filter-artists {
            width: 100%;
            float: left;
            background-color: #222 !important;
            border-radius: 5px
        }
